{% extends "base.html" %}
{% block content %}

    <p>Body mass index (BMI) is a measure of body fat based on height and weight that applies to adult men and women.</p>

    <ul>
        <li>Enter your weight and height using metric measures.</li>
        <li>Select "Compute BMI" and your BMI will appear below.</li>
    </ul>
    
    <form action="/" method="POST">
        {{ form.hidden_tag() }}
        
        <tr>
            {% for btn in form.gender %}
                <td>{{ btn }}</td>
                <td>{{ btn.label }}</td>
            {% endfor %}
        </tr>
        

        <div class="form-control">
            {{ form.height.label }}
            {{ form.height() }}
        </div>
        <div class="form-control">
            {{ form.weight.label }}
            {{ form.weight() }}
        </div>
        <div class="form-control">
            {{ form.submit() }}
        </div>
    </form>

{% endblock %}